<div id="footer" class="footer">
  <div class="text_align_center">
    <div>
      Wszelkie prawa zastrzeżone. © 2009 www.wpd.pl
    </div>
    <div class="div_spaced">
      pomoce dydaktyczne, szkolne, naukowe dla:<br />
      przedszkola, szkoły podstawowej, szkoły specjalnej, gimnazjum,liceum, szkoły ponadgimnazjalnej.
    </div>
  </div>
</div>