<div id="header" class="header">
  <div id="search_form">
    <%= render :partial => 'partials/search' %>
  </div>
  <div id="logo">
  <%= image_tag 'logo3.png', :alt => 'Wytwarzanie Pomocy Dydaktycznych Logo' %>
  </div>
</div>
<div style="border: 2px white; background: white">
  <%= image_tag 'header_text2.png', :alt => 'Wytwarzanie Pomocy Dydaktycznych' %>
</div>