/* 
Document   : default
Created on : 2009-11-12, 21:47:35
Author     : tj86
Description:
Purpose of the stylesheet follows.
*/

/* 
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    background: #81CC59 url("/images/logobg.png") fixed;
}

.page {
    border: white solid 10px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

table {
    vertical-align: top;
}

td {
    vertical-align: top;
}

img {
    border: none;
}

.whole_page {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.page_background {
    width: 100%;
    background: #CEEBF0;
}

a, a:link, a:visited {
    color: black;
    text-decoration: none;
}

#logo {
    margin-top: 25px;
    float: left;
}

.header {
    margin: 0;
    width: 1022px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    background: #92dde3 url("/images/header.png") center no-repeat;
    border: 1px solid #393939;
}

.footer {
    margin: 0;
    width: 1022px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    font-weight: bolder;
    font-family: monospace;
    color: #171511;
    background: #92dde3 url("/images/footer.png") center no-repeat;
    border: 1px solid #393939;
    border-top: none;
}

.navigation {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.navigation ul {
    border-left: 1px solid #393939;
    border-right: 1px solid #393939;
    border-top: 1px solid #393939;
    background: #337FCC;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 1022px;
}
.navigation li {
    float: left;
    font: 100% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.navigation a {
    background: #337FCC;
    color: white;
    display: block;
    float: left;
    margin: 0;
    padding: 8px 12px;
    text-decoration: none;
}
.navigation a:hover {
    background: #17324C url("/images/navigation_hover2.gif") bottom center no-repeat;
    color: white;
    padding-bottom: 8px;
}

.navigation #current_site {
    background: #17324C url("/images/navigation_hover2.gif") bottom center no-repeat;
    color: white;
    display: block;
    float: left;
    margin: 0;
    padding: 8px 12px;
    text-decoration: none;
}

.page_content {
    background: #337FCC;
    margin: 0;
    padding: 0 0 0 0;
    border: 1px solid #393939;
}

.store_table {
    width: 100%;
    vertical-align: top;
}

.store_menu {
    vertical-align: top;
    width: 200px;
    border-right: 1px solid #393939;
}

.store_menu tr,.store_menu td {
    vertical-align: top;
}

.store_menu_header {
    color: #000000;
    margin: 0;
}

.store_content {
    vertical-align: top;
}

.store_menu ul {
    background: inherit;
    float: left;
    margin: 0;
    padding: 0;
    width: 200px;
    list-style: none;
}

.store_menu li {
    font: 90% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.store_menu_link a {
    background: #337FCC;
    border-top: 1px solid #393939;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: white;
    display: block;
    margin: 0;
    padding: 8px 12px;
    text-decoration: none;
}

.store_menu_link a:hover {
    background: #17324C url("/images/store_menu_hover2.gif") left center no-repeat;
    color: white;
    padding-bottom: 8px;
}

.store_menu #current_site {
    background: #17324C url("/images/store_menu_hover2.gif") left center no-repeat;
    border-top: 1px solid #393939;
    color: white;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 8px 12px;
    text-decoration: none;
}

.store_menu h1 {
    font: 120% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 8px 12px;
}

.store_menu .categories_links {
    border-top: dotted 1px white;
}

.categories_links a {
    background: #17324C;
    color: white;
    display: block;
    margin: 0;
    padding: 8px;
    text-decoration: none;
}

.categories_links a:hover {
    background: white;
    color: #17324C;
}

.product_short {
}

.product_short h3 {
    margin-left: 1px;
    padding: 10px;
    background: #337FCC url("/images/gradient2.png") repeat-y;
}

.product_short .description {
    padding: 10px;
}

.product_short .more {
    display: block;
    text-align: right;
}

.more a {
    padding: 5px;
    color: black;
    background: white;
    font-weight: bold;
    border: outset 1px;
}

.product {
}

.product h1 {
    padding: 10px;
    margin: 0 0 0 1px;
    background: #337FCC url("/images/gradient2.png") repeat-y;
}

.product .description {
    padding: 10px;
}

.product .product_links {
    display: block;
    background: white;
    color: black;
    padding: 10px;
}

.product_links ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.product_links li {
    float: left;
    margin-right: 10px;
}

.product_links a {
}

.product_links a:hover {
    text-decoration: underline;
}

#photos {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.content {
    padding: 10px;
}

.text_align_center {
    text-align: center;
}

.help {
    font-size: smaller;
    color: white;
}

#search_form {
    margin: 5px 5px 0 0;
    display: block;
    float: right;
}

.product_categories {
    width: 100%;
}

.div_spaced {
    margin-top: 10px;
    margin-bottom: 10px;
}

#notice {
    margin: 10px;
    padding: 10px;
    font-size: larger;
    display: block;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    border: 2px outset red;
    color: red;
    background: white;
}