<%= render :partial => 'partials/categories_menu'  %>

<div class="content">
Katalog oferowanych pomocy dydaktycznych, naukowych i szkolnych.<br />
Proszę wybrać kategorię pomocy z lewej strony.<br />
W razie jakichkolwiek pytań prosimy o kontakt telefoniczny lub drogą elektroniczną na nasz adres email kontakt@wpd.pl<br />
</div>
