<% @menu_title = t('product.all_products') %>

<% content_for :menu_options do %>
  <ul>
    <li class="store_menu_link">
      <% link_to new_product_url do %>
        <%= image_tag 'document_add.png', :size => '15x15', :align => :top %>
        <%= t('product.new_product') %>
      <% end %>
    </li>
  </ul>
<% end %>

<div>
  <%= render :partial => 'products/product_short', :collection => @products %>
</div>